:root {
  --mainColor: #9EC9A8;
  --SecondaryColor: #b7e6c2;

  --borderColor: #86E6A1;

  --mainText: #fff;
  --seconderyText: #4b5156;

  --firstFont: "Roboto", sans-serif;

  --themeDotBorder: #2a2f25;

  --previewBG: (81, 90, 72, 0.8);
  --previewShadow: #72b68a;
}
