:root {
  --mainColor: #e2b992;
  --SecondaryColor: #e6c3a3;

  --borderColor: #fdd0a5;

  --mainText: #fff;
  --seconderyText: #4b5156;

  --firstFont: "Roboto", sans-serif;

  --themeDotBorder: #fff;

  --previewBG: rgb(251, 249, 243, 0.6);
  --previewShadow: #dfa977;
}
