:root {
  --mainColor: #46344e;
  --SecondaryColor: #382a3f;

  --borderColor: #1d1520;

  --mainText: #fff;
  --seconderyText: #eeeeee;

  --firstFont: "Roboto", sans-serif;

  --themeDotBorder: #fff;

  --previewBG: (29, 21, 32, 0.8);
  --previewShadow: #2b202f;
}
